<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="EN">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <meta charset="UTF-8">

    <title>Enter to the lib</title>
</head>

<body>
<div th:if="${param.error}">
    Invalid username and password.
    <a href="/registration" class="btn btn-primary">Create a new account?</a>
</div>

<div th:if="${param.logout}">
    You have been logged out.
</div>

<div class="form-group">
    <form th:action="@{/login}" method="post">
        <div>
            <h3>Enter to the lib</h3>
        </div>
        <div>
            <label> User Name : <input type="text" class="form-control" name="username"/> </label>
        </div>
        <div>
            <label> Password: <input type="password" class="form-control" name="password"/> </label>
        </div>
        <div>
            <input type="submit" class="btn btn-primary" value="Sign In"/>
        </div>
    </form>
</div>
</body>
</html>